.holder {
	width: 62%;
	padding: 20px;
	float: left;

	@media (max-width: 822px) {
    width: 80%;
  }
}
.input-search {
	width: 100%;
	border-radius: 10px;
	height: 60px;
	border: 1px solid #fff;
	padding: 10px;
}
.scroll {
	margin: auto;
}
.search-wrapper {
	list-style-type: none;
	background: #1FA1F2;
	width: 59%;
	margin-left: 150px;
	border-radius: 5px;
	position: absolute;
	z-index: 9999;
	max-height: 55vh;
	overflow: scroll;
	overflow-x: hidden;
	
  .search-list {
    overflow: hidden;
    margin: 0 0 20px;
    border-bottom: 1px solid #ccc;
		padding: 0 0 20px;
		font-size: 18px;
		font-weight: bold;
		cursor: pointer;
		
    &:last-child {
      margin: 0;
    }
  }
}
.link-direct {
	color: #FFF;
	&:hover {
		color: #FFF;
		text-decoration: none;
	}
}
.search-image {
  float: left;
  display: block;
  width: 40px;
	border-radius: 10px;
	margin: 10px 10px 0 0;
}
.search-item {
  display: block;
  width: 100%;
	font-weight: bolder;
	margin-top: 30px;
	
  &.phone {
    font-weight: normal;
    font-style: italic;
    color: #999;
  }
}
